.canvas-container-chat {
  /* position: absolute; */
  /* top: 90px; */
  /* right: 50px; */
  /* width: 200px; */
  height: 17vh;
  @media screen and (max-height: 810px) {
    height: 12vh;
  }

  @media screen and (max-width: 720px) {
    /* height: 10vh; */
  }
  /* height: ; */

  /* height: 100%; */

  /* background-color: rgb(12, 12, 48); */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */

  /* z-index: 4; */
  /* overflow: hidden; */
}

.canvasChat {
  /* background-color: rgb(25, 24, 32, 0.1); */
  background-color: var(--bg-s-third);
  z-index: 0;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid var(--bg-s-border);
  width: 100%;
  /* height: 60%; */

  @media screen and (max-height: 810px) {
    height: 55%;
  }

  /* filter: blur(10px) contrast(30); */
}
