@import "../index.css";
.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;

  @media screen and (max-width: 900px) {
    padding: 0 0.5rem;
  }
}

.about-card {
  /* padding: 20px; */
  max-width: 400px;

  @media screen and (max-width: 900px) {
    max-width: 145px;
  }
}

.about-image {
  float: right;
  width: 170px;
  /* height: 170px; */
  /* margin: 10px; */
  margin-left: 20px;
  margin-bottom: 5px;
  border-radius: 10px;

  background-color: var(--text-primary);
  padding: 15px;

  @media screen and (max-width: 900px) {
    width: 70px;
    /* height: 100px; */
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 3px;
  }
}

.about-text {
  /* padding: 20px; */
  /* columns: ; */

  color: var(--text-secondary);
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: justify;
  word-break: break-all;
  hyphens: auto;

  @media screen and (max-width: 900px) {
    font-size: 0.61rem;
    line-height: 0.75rem;
  }
}

.about-text span {
  font-weight: 900 !important;
  color: var(--text-primary);
}

.rotating-button {
  width: 70px;
  height: 90px;
}

.section {
}
.section-buttons h1 {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--text-primary);
  flex-grow: 1;
  width: 100%;
  text-align: left;
  /* border: 1px solid var(--border); */
}

.section-buttons {
  display: flex;
  justify-content: safe;
  align-items: center;
  /* gap: 0 1rem; */

  flex-wrap: wrap;
  /* border: 1px solid var(--border); */
  padding: 1rem;
  width: 400px;
  background-color: var(--accent-2);

  border-radius: 10px;
  /* gap: 1rem; */
}
