@import "../index.css";
.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* flex-direction: column; */
  padding: 1rem;

  @media screen and (max-width: 900px) {
    padding: 0 0.5rem;
  }
}

.about-card {
  /* padding: 20px; */
  max-width: 400px;

  @media screen and (max-width: 900px) {
    max-width: 145px;
  }
}

.about-image {
  float: right;
  width: 170px;
  /* height: 170px; */
  /* margin: 10px; */
  margin-left: 20px;
  margin-bottom: 5px;
  border-radius: 10px;

  background-color: var(--text-primary);
  padding: 15px;

  @media screen and (max-width: 900px) {
    width: 70px;
    /* height: 100px; */
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 3px;
  }
}

.about-text {
  /* padding: 20px; */
  /* columns: ; */

  color: var(--text-secondary);
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: justify;
  word-break: break-all;
  hyphens: auto;

  @media screen and (max-width: 900px) {
    font-size: 0.61rem;
    line-height: 0.75rem;
  }
}

.about-text span {
  font-weight: 900 !important;
  color: var(--text-primary);
}

.rotating-button {
  width: 75px;
  height: 55px;
  /* background-color: var(--accent); */
  /* border-radius: 50%; */
}
.about-buttons-sections {
  /* overflow-y: auto;
  overflow-x: hidden; */
  margin-left: auto;
  margin-bottom: auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.section-buttons-front {
  display: flex;
  flex-direction: column;
  height: 150px;
  gap: 10px 0;

  /* border: 1px solid var(--border); */
  padding: 1rem;
  padding-bottom: 5px;
  width: 400px;
  background-color: var(--accent-2);

  border-radius: 10px;
  margin-top: 10px;
  /* gap: 1rem; */
}

.section-buttons-front h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--text-primary);
  flex-grow: 1;
  width: 100%;
  text-align: left;
  /* border: 1px solid var(--border); */
}
.section-buttons-back {
  display: flex;
  flex-direction: column;
  height: 180px;
  gap: 10px 0;

  /* border: 1px solid var(--border); */
  padding: 1rem;
  padding-bottom: 5px;
  width: 400px;
  background-color: var(--accent-2);

  border-radius: 10px;
  margin-top: 10px;
  /* gap: 1rem; */
}

.section-buttons-back h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--text-primary);
  flex-grow: 1;
  width: 100%;
  text-align: left;
  /* border: 1px solid var(--border); */
}
.section-buttons-used {
  display: flex;
  flex-direction: column;
  height: 150px;
  gap: 10px 0;

  /* border: 1px solid var(--border); */
  padding: 1rem;
  padding-bottom: 5px;
  width: 400px;
  background-color: var(--accent-2);

  border-radius: 10px;
  margin-top: 10px;
  /* gap: 1rem; */
}

.section-buttons-used h1 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--text-primary);
  flex-grow: 1;
  width: 100%;
  text-align: left;
  /* border: 1px solid var(--border); */
}

.section-header {
  display: flex;
  justify-content: space-between;
}
.section-header h1 {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
}

.about-button-img {
  width: 100%;
  height: 150px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-button-img img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
