.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
  /* display: flex; */
}

.home-text-wrapper {
  width: 120px;

  text-align: left;

  @media screen and (max-width: 750px) {
    width: 70px;
  }
}

.home h2 {
  font-size: 1rem;
  text-align: justify;
  /* word-spacing: -0.05rem; */
  word-break: break-all;

  /* hyphens: auto; */
  @media screen and (max-width: 750px) {
    font-size: 0.65rem;
    /* line-height: 0.95rem; */
  }
}
