.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
}

.home-text-wrapper {
  width: 120px;
  text-align: left;

  @media screen and (max-width: 750px) {
    width: 94px;
  }
}

.home h2 {
  font-size: 1rem;
  text-align: justify;
  word-break: break-all;

  @media screen and (max-width: 750px) {
    font-size: 0.84rem;
    hyphens: auto;
    word-spacing: -0.05rem;
  }
}
