@import "../index.css";

.layder-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  width: 100svw;
  height: 100svh;
  padding: 35px;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    padding: 20px;
  }
}

.layout {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--surface);
  color: var(--text-primary);
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.side-header {
  position: absolute;
  top: 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text-primary);
  z-index: 99;

  @media screen and (max-width: 900px) {
    padding-left: 0.2rem;
    /* padding-top: 0.3rem; */
  }
}

.logo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
  margin-bottom: 20px;
  color: var(--text-primary);
  @media screen and (max-width: 900px) {
    margin-bottom: 5px;
  }
}

.side-header h1 {
  font-size: 4rem;
  height: 3.4rem;
  margin-bottom: 0.6rem;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 3px;

  font-family: var(--font-logo);

  @media screen and (max-width: 900px) {
    font-size: 1.4rem;
    height: 1rem;
    margin-bottom: 6px;
    margin-top: 5px;
    margin-left: 1.2px;
  }
  /* height: 4rem; */
}

.side-header p {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-tertiary);
  margin-left: 0.2rem;

  @media screen and (max-width: 900px) {
    font-size: 0.5rem;
    margin-left: 0.1rem;
    font-weight: 400;
  }
}

.nav {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  user-select: none;
  width: 20%;
  flex-direction: column;
  gap: 0.9rem;
  position: relative;
  padding-left: 7px;
  @media screen and (max-width: 750px) {
    padding-left: 3px;
    gap: 0.4rem;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  gap: 0 0.4rem;
  align-items: center;
  position: relative;
  transform: translateX(0);
  transition: transform 0.5s ease, color 0.3s ease;

  @media screen and (max-width: 900px) {
    font-size: 0.6rem;
    font-weight: 400;
  }
  /* width: 100%; */
}

.nav-link[data-nav].active {
  transform: translateX(15px);
  color: var(--accent);
}

.nav-selected {
  background-color: var(--border);
  color: var(--border);
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;

  position: relative;

  transition: all 0.7s ease;
}

.nav-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  pointer-events: none;
  transition: all 0.3s ease;
  top: -10px;
  /* right: -10px; */
  left: 0.6rem;
  transform: translateX(-50%);
  color: var(--accent);
}

.indicator-icon {
  background-color: var(--accent);
  color: var(--border);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;

  @media screen and (max-width: 900px) {
    width: 0.32rem;
    height: 0.32rem;
    top: -0.28rem;
    left: -0.2rem;
  }

  position: relative;

  transition: all 0.7s ease;
}

.side-toggles {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  transform: rotate(-90deg);
  transform-origin: 5px 0;
  /* writing-mode: sideways-lr; */

  /*edit
  /* text-orientation; */
  /* text */
  gap: 0.7rem;
  bottom: 0;
  left: 0;
  font-size: 0.9rem;
  margin-bottom: 22px;
  cursor: pointer;
  z-index: 99;
  margin-left: 2px;

  @media screen and (max-width: 900px) {
    /* gap: 0.6rem; */
    /* font-size: 0.6rem; */

    /* margin-bottom: 10px; */
    gap: 0.5rem;
    margin-bottom: 10px;
    margin-left: 0px;
    left: -2px;
  }
}

.side-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-toggle-p {
  margin-bottom: 2px;
}

.theme-toggle-button {
  font-size: 2rem;
  width: 1.3rem;
  /* height: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--accent); */
  /* background-color: var(--text-primary); */
  fill: var(--text-primary);

  @media screen and (max-width: 900px) {
    /* font-size: 1.5rem; */
    width: 1rem;
    height: 1rem;
    width: 12px;
    height: 12px;
  }
}

.side-toggle-effect {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  @media screen and (max-width: 750px) {
    /* gap: 0.2rem; */
    font-size: 0.6rem;
  }
}

.effect-toggle-button {
  background-color: var(--text-primary);
  counter-reset: var(--text-primary);
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;

  @media screen and (max-width: 900px) {
    width: 0.4rem;
    height: 0.4rem;
  }
  /* transition: all 0.1s ease; */
  /* color: var(--text-primary); */
}

.side-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.87vh;
  margin-bottom: 0.87svh;
  padding-left: 3px;
  font-weight: 900;
  /* left: 0; */
  font-size: 0.8rem;
  color: var(--text-tertiary);
  z-index: 99;

  @media screen and (max-width: 900px) {
    font-size: 0.54rem;
    padding-left: 0px;
    margin-bottom: 0.3vh;
    margin-bottom: 0.3svh;
  }
}
