@import "../index.css";

.playground {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 99; */
}

.playground-cards-container {
  height: 100%;
  width: 1010px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  gap: 15px 20px;
  overflow-y: auto;
  perspective: 2000px;
  padding: 1rem;
  padding-top: 10px;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.playground-card {
  width: 210px;
  height: 230px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */

  /* justify-content: center; */
  /* align-items: flex-start; */
  /* background-color: var(--accent-2); */
  background-color: var(--surface);
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  box-shadow: -1px 0 10px var(--shadow);
  position: relative;
  cursor: pointer;
  z-index: 100;
}

.playground-card-image-wrapper {
  display: flex;
  /* height: 100%; */
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 1rem; */
  /* height: 85%; */
  padding: 5px;
}

.playground-card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px 15px 0 0;
}
.playground-card-image-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px 15px 0 0;
}

.playground-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  height: 100%;
  padding: 0.5rem;
  text-align: center;
}

/* adding the gradiant effect */

.playground-card {
  position: relative; /* Required for absolute positioning of gradient */
}

.playground-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: background 0.5s;
  background: linear-gradient(
    155deg,
    var(--overlay-left) 20%,
    var(--overlay-right) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.playground-effect-Preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99;
  padding: 5rem 5rem;
  overflow: hidden;

  background-color: var(--overlay-right);
}

.playground-effect-Preview-container {
  background-color: var(--popup);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.playground-effect-Preview-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--surface);
  background-color: var(--accent-2);
  border: 2px solid var(--border);
  border-radius: 15px 15px 0 0;
}

.playground-effect-Preview-close {
  width: 40px;
  height: 40px;
  padding: 0.3rem;
  cursor: pointer;
  color: var(--text-secondary);
  background-color: var(--popup);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 200;

  @media screen and (max-width: 900px) {
    width: 35px;
    height: 35px;
    padding: 0.2rem;
  }
}

.playground-effect-preview-content-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.stacked-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
}

.stacked-card {
  width: 700px;
  /* height: 310px; */
  position: relative;
  top: -100px;
  background-color: var(--surface);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
  border: 1px solid var(--accent-2);
}

.stacked-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 15px;
}

.stacked-card-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--accent-2);
}
.stacked-card p {
  font-weight: 700;
  color: var(--popup);
}

.stacked-card-img-container {
  /* width: 100%; */
  /* height: 40%; */
  /* border-radius: 15px; */
}

.stacked-card-img-inner {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.stacked-card-img-inner img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}

.stacked-card-content {
}

.stacked-cards-wrapper {
  padding-top: 180px;
  padding-bottom: 400px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.stacked-cards-footer-p {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  color: var(--accent-2);
  /* height: 100vh; */
}
