@font-face {
  font-family: "neopixel";
  src: url("/fonts/neopixel-regular.otf") format("opentype"),
    url("/fonts/neopixel-regular.woff") format("woff"),
    url("/fonts/neopixel-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Dirtyline";
  src: url("/fonts/Dirtyline-36daysoftype.ttf") format("truetype"),
    url("/fonts/Dirtyline-36daysoftype.woff") format("woff"),
    url("/fonts/Dirtyline-36daysoftype.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype"),
    url("/fonts/Ubuntu-Regular.woff") format("woff"),
    url("/fonts/Ubuntu-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-general);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
  color: var(--text-primary);

  /* --font-general: "Ubuntu", sans-serif; */

  --font-pixel: "neopixel", sans-serif;

  --font-logo: "Dirtyline", sans-serif;

  /* Light theme */
  --background-light: #e9e9e9;
  --surface-light: #d8d8d8;
  --surface-light-2: #bfc2c7;
  --surface-light-3: #dbdbdb;
  --surface-light-4: #cccccc;
  --text-primary-light: #111827;
  --text-secondary-light: #4b5563;
  --text-tertiary-light: #a1a1a1;
  --accent-light: #6e6e6e;
  --border-light: #000000;
  --overlay-light-right: rgba(138, 138, 138, 0.8);
  --overlay-light-left: rgba(255, 255, 255, 0.1);
  --shadow-light: rgba(0, 0, 0, 0.14);

  /* Dark theme */
  --background-dark: #080808;
  --surface-dark: #0b0b0c;
  --surface-dark-2: #212224;
  --surface-dark-3: #272727;
  --surface-dark-4: #131313;
  --surface-dark-5: #353535;
  --text-primary-dark: #f9fafb;
  --text-secondary-dark: #d1d5db;
  --text-tertiary-dark: #8d8d8d;
  --accent-dark: #8d8d8d;
  --border-dark: #a3a3a3;
  --overlay-dark-right: rgba(0, 0, 0, 0.8);
  --overlay-dark-left: rgba(255, 255, 255, 0.1);
  --shadow-dark: rgba(155, 155, 155, 0.1);
}

[data-theme="light"] {
  --background: var(--background-light);
  --surface: var(--surface-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --text-tertiary: var(--text-tertiary-light);
  --accent: var(--accent-light);
  --border: var(--border-light);
  --accent-2: var(--surface-light-2);
  --accent-3: var(--surface-light-3);
  --accent-4: var(--surface-light-4);
  --bar: #f5f5f5;
  --overlay-right: var(--overlay-light-right);
  --overlay-left: var(--overlay-light-left);
  --shadow: var(--shadow-light);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --surface: var(--surface-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --text-tertiary: var(--text-tertiary-dark);
  --accent: var(--accent-dark);
  --border: var(--border-dark);
  --accent-2: var(--surface-dark-2);
  --accent-3: var(--surface-dark-3);
  --accent-4: var(--surface-dark-4);
  --bar: #585858;
  --overlay-right: var(--overlay-dark-right);
  --overlay-left: var(--overlay-dark-left);
  --shadow: var(--shadow-dark);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

.theme-toggle {
  background-color: var(--surface);
  color: var(--text-primary);
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--accent);
  color: var(--background);
}

.themed-element {
  transition: background-color 0.9s, color 0.9s, border-color 0.9s;
}

/* .fade-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-container.fade-out {
  opacity: 0;
}

.fade-container.fade-in {
  opacity: 1;
} */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}
::-webkit-scrollbar-track {
  background: var(--accent-2);
  border-radius: 100vw;
  margin-block: 1em;
}
::-webkit-scrollbar-thumb {
  background: var(--bar);
  border-radius: 100vw;
  border: 0.12em solid var(--bar);
}

@supports (not selector(::-webkit-scrollbar)) {
  * {
    scrollbar-color: var(--bar) var(--accent-2);
    scrollbar-width: thin;
  }
}
